In python, Everything is an **object**
- Everything is an object in the sense that it can be
assigned to a variable or passed as an argument to a
function
- I really mean that everything is an object â€“ even the
attributes and methods of objects are themselves
objects with their own type information

attributes : In computing, an attribute is a specification that defines a property of an object, element, or file. It may also refer to or set the specific value for a given instance of such. For clarity, attributes should more correctly be considered metadata.
example : variables of an object,...

# Tips/trick and quiz in python

##0.Python is about

* iterator(List(most))
    * for loop (for loop with iterator)
         * if elsif else(inside for loop) (start:end:step)
             * iterator[one bracket bhitra(row),fer one bracket bhitra(nested ror),..,column]

## 1. Swapping of TWo numbers

In [ ]:
x,y=10,20
print(x,y)

10 20

In [ ]:
y,x=x,y
print(x,y)

20 10

## 2. Creating a single string all the elements in list

In [ ]:
a=['madan','baduwal','address','lamki','kailali']
print(''.join(a))

madanbaduwaladdresslamkikailali

## 3.Print the file path of imported modules

In [ ]:
import os

print(os)

<module 'os' from '/usr/lib/python3.6/os.py'>

## 4. Use of Enums in python

In [ ]:
class madan:

  one,two,three= range(3)

In [ ]:
print(madan.one)
print(madan.two)
print(madan.three)

0
1
2

In [ ]:
one,two,three= range(3)
print(one,two,three)

0 1 2

## 5. Return multiple values from function

In [ ]:
def f():
  return 1,2,3,4,5

In [ ]:
a,b,c,d,e=f()

In [ ]:
print(a,b,c,d,e)

1 2 3 4 5

## 7. Check the memory usage of an object

In [ ]:
import sys

x=1
print(sys.getsizeof(x))

28

## 8. Checking if two words are anagrams 

Note: An anagram is a word or phrase that's formed by rearranging the letters of another word or phrase.

In [ ]:
from collections import Counter

def is_anagram(str1,str2):
  return Counter(str1)==Counter(str2)

In [ ]:
print(is_anagram('geek','eegk'))

True

In [ ]:
# or without having to import anything  
def is_anagram(str1, str2):  
    return sorted(str1) == sorted(str2)

In [ ]:
print(is_anagram('geek', 'eegk'))

True

In [ ]:
sorted("helo")

['e', 'h', 'l', 'o']

## 9. Measure the time elapsed to execute your code in python

In [ ]:
import time

In [ ]:
starttime=time.time()

#your code here

print('Helo ima madan from nepla')

endtime=time.time()
totaltime=endtime-starttime
print(totaltime)

Helo ima madan from nepla
0.0001232624053955078

## 10. Eliminate dublicate values

In [ ]:
list1=[1,2,3,4,4]
set1=set(list1)
#list1=list(set1)

print(set1)
# print(list1)

{1, 2, 3, 4}

## 11. Get the difference between the two lists

In [ ]:
list1=[1,2,3,4,5]
list2=[5,6,7,8,9]


set1=set(list1)
set2=set(list2)

# list3=list(set1.symmetric_difference(set2))
# print(list3)

## 12. How to efficiently compare two unordered lists

In [ ]:
from collections import Counter

one = [33, 22, 11, 44, 55]
two = [22, 11, 44, 55, 33]
print(Counter(one))
print("is two list are b equal", Counter(one) == Counter(two))

Counter({33: 1, 22: 1, 11: 1, 44: 1, 55: 1})
is two list are b equal True

## 13. Use enumerate

In [ ]:
listOne = [123, 345, 456, 23]
print("Using enumerate")
for index, element in enumerate(listOne): 
    print("Index [", index,"]", "Value", element)

Using enumerate
Index [ 0 ] Value 123
Index [ 1 ] Value 345
Index [ 2 ] Value 456
Index [ 3 ] Value 23

## 14. e with number

In [ ]:
x=1.49e5
x1=1.e1
print(x)
print(x1)

149000.0
10.0

## 15. Concanate list

In [ ]:
l1=[1,2,3,4,5]
l2=[5,6,7,8,9]

l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [ ]:
# or extend function

# 
l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

Note:  l3=l1.extend(l2) this one is wrong (return None)

* Because l1 lai l2 sanga extend garxa ra l1 ma rakhxa tara return None garxa.

## 16. Slicing

`Note : always remain [start(start from zero, default position is zero):stop(exclude, default is ):step(defult is one)]`

In [ ]:
keyword = 'asdkjahajhfaesudjahfjka'

print (keyword [3:] ) # []
print(keyword [:3])

kjahajhfaesudjahfjka
asd

Note: Step 2 rakhyasi afu element lai ni ganxa hai.

In [ ]:
a=[1,2,3,4,5,6,7,8,9] 
print(a[::2])

[1, 3, 5, 7, 9]

## 17. OOP concept(MRO concept most)

In [ ]:
class A:
    def do(self):
        print('class a')

In [ ]:
class B(A):
  pass

In [ ]:
class C:
  def do(self):
    print('class C')

In [ ]:
class D(B,C):
  pass

In [ ]:
obj=D()

In [ ]:
obj.do()

In [ ]:
print(D.mro()) # yasri MRO order herna milxa

[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.A'>, <class '__main__.C'>, <class 'object'>]

Method of resolution(MRO)

## 18. Loop in one line of code (one-liners)

In [ ]:
# if for vanda agadi rakhni vaya else hunai parxa
[i if i==2  for i in range(5)]

SyntaxError: ignored

In [ ]:
[i if i==2 else 0 for i in range(5)]

[0, 0, 2, 0, 0]

In [ ]:
# if for vanda paxadi rakhni vaya else rakhnu pardaina

[i for i in range(5) if i==2 else 0]

SyntaxError: ignored

In [ ]:
[i for i in range(5) if i==2]

[2]

## 19. Type in depth

In [ ]:
l = [5,4,3]

In [ ]:
type(l)

list

Inference :

In [ ]:
type(list)

type

In [ ]:
type(type)

type

In [ ]:
def f():
  pass

type(f)

function

In [ ]:
class C:
  pass
type(C)

type

In [ ]:
t = type()

TypeError: ignored

## 20. Zip(loop more iterator at a time)

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]

for i,j in zip(a,b):
  print(i,j)

1 5
2 6
3 7
4 8

## 21. Map



```
map(fun, iter)

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

```

In [ ]:
import operator 


# Defining lists 
L1 = [1, 2, 3] 
L2 = [2, 3, 4] 
a, b, c = map(operator.mul, L1, L2) 
print(a,b,c)

2 6 12

## 22.Iterator

Play with iterator

Mathematics operations

In [ ]:
import itertools

In [ ]:
help(itertools)

In [ ]:
count = 0

for i in itertools.cycle('AB'):
  if count > 7:
        break
  else:
      print(i, end = " ")
      count += 1

A B A B A B A B

In [ ]:
for i in itertools.count(5, 5):
    if i == 35:
        break
    else:
        print(i, end =" ")

5 10 15 20 25 30